{% extends 'base_generic.html' %}

{% block title %}<title>Redirect Details by Product</title>{% endblock %}

{% block content %}
    <h1>Redirect Details by Product</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Search</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <p>Redirect code: {{ redirect_code }}. Target_url: {{ redirect.target_url }}</p>
        <p>Click_id_list: {{ click_id_list }}</p>
        <p>Pageview_id_list: {{ pageview_id_list }}</p>
        <p>Earliest click datetime: {{ earliest_click_dt }}</p>
        {% for wpid_pageview_data in wpid_pageview_dict %}
            <h2>Wpid: {{ wpid_pageview_data.wpid }}</h2>
            <ul>
                {% for pageview in wpid_pageview_data.pageviews %}
                    <li>{{ pageview.view_dt }} - User ID: {{ pageview.session.usermodel.first.id }} - Email: {{ pageview.session.usermodel.first.email }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
