{% extends 'base_generic.html' %}

{% block title %}<title>Tag Count Bar Charts</title>{% endblock %}

{% block content %}
    <h1>Tag Count Bar Charts</h1>
    {% for tag_type in tag_counts_by_type %}
<div>
    <h3>{{ tag_type.label }}</h3>
    <canvas id="{{ tag_type.label_slugified }}_chart" width="400" height="200"></canvas>
</div>
<script>
    var {{ tag_type.label_slugified }}_labels = {{ tag_type.labels|safe }};
    var {{ tag_type.label_slugified }}_percentages = {{ tag_type.data|safe }};
    var backgroundColor, borderColor;

    // Set colors based on tag type
    // (color setting logic here...)

    var {{ tag_type.label_slugified }}_Ctx = document.getElementById('{{ tag_type.label_slugified }}_chart').getContext('2d');
    new Chart({{ tag_type.label_slugified }}_Ctx, {
        type: 'bar',
        data: {
            labels: {{ tag_type.label_slugified }}_labels,
            datasets: [{
                label: '{{ tag_type.label }} Percentage',
                data: {{ tag_type.label_slugified }}_percentages,
                backgroundColor: backgroundColor,
                borderColor: borderColor,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100  // Ensure y-axis shows up to 100%
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                datalabels: {
                    anchor: 'end',
                    align: 'top',
                    formatter: (value) => {
                        return value + '%';
                    }
                }
            }
        }
    });
</script>
{% endfor %}

{% endblock %}
