{% extends 'base_generic.html' %}

{% block title %}<title>Tag Count Bar Charts</title>{% endblock %}

{% block content %}
    <h1>Tag Count Bar Charts</h1>
    <p>tag_counts_by_type: {{ tag_counts_by_type }}</p>
    {% for tag_type in tag_counts_by_type %}
<div>
    <h3>{{ tag_type.label }}</h3>
    <canvas id="{{ tag_type.label_slugified }}_chart" width="400" height="200"></canvas>
</div>
<script>
    var {{ tag_type.label_slugified }}_labels = {{ tag_type.labels|safe }};
    var {{ tag_type.label_slugified }}_values = {{ tag_type.data|safe }};
    var backgroundColor, borderColor;

    // Set colors based on tag type
    {% if tag_type.label_slugified == 'Manufacturer' %}
        backgroundColor = 'rgba(75, 192, 192, 0.2)';
        borderColor = 'rgba(75, 192, 192, 1)';
    {% elif tag_type.label_slugified == 'Model' %}
        backgroundColor = 'rgba(255, 0, 0, 0.2)';  /* Red */
        borderColor = 'rgba(255, 0, 0, 1)';
    {% elif tag_type.label_slugified == 'Garment_type' %}
        backgroundColor = 'rgba(0, 128, 0, 0.2)';  /* Green */
        borderColor = 'rgba(0, 128, 0, 1)';
    {% elif tag_type.label_slugified == 'Colour' %}
        backgroundColor = 'rgba(255, 255, 0, 0.2)';  /* Yellow */
        borderColor = 'rgba(255, 255, 0, 1)';
    {% elif tag_type.label_slugified == 'Other' %}
        backgroundColor = 'rgba(128, 0, 128, 0.2)';  /* Purple */
        borderColor = 'rgba(128, 0, 128, 1)';
    {% endif %}

    var {{ tag_type.label_slugified }}_Ctx = document.getElementById('{{ tag_type.label_slugified }}_chart').getContext('2d');
    new Chart({{ tag_type.label_slugified }}_Ctx, {
        type: 'bar',
        data: {
            labels: {{ tag_type.label_slugified }}_labels,
            datasets: [{
                label: '{{ tag_type.label }} Count',
                data: {{ tag_type.label_slugified }}_values,
                backgroundColor: backgroundColor,
                borderColor: borderColor,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endfor %}

{% endblock %}
