<!-- user_data.html -->
<title>My Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    #myChart {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
<h1>Pageviews for User {{ user.id }}</h1>
<p>Email: {{user.email}}</p>
<p>page_scores: {{page_scores}}</p>
<p>tag_scores: {{tag_scores}}</p>
<ul>
{% for page_score in page_scores %}
  <li>{{ name }} - {{ score }}</li>
{% endfor %}
</ul>

<h1>Aged Scores for User {{ user.id }}</h1>
<ul>
{% for tag, score in tag_scores %}
  <li>{{ tag }} - {{ score }}</li>
{% endfor %}
</ul>
  <p>Start of bar chart</p>
  <canvas id="myChart"></canvas>
  <script>
    var data = {{ tag_scores|safe }};
    var labels = [];
    var values = [];
    for (var i = 0; i < data.length; i++) {
      labels.push(data[i][0]);
      values.push(data[i][1]);
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
        labels: labels,
        datasets: [{
          label: 'My Dataset',
          data: values,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
<p>End of bar chart</p>