{% extends 'base.html' %}

{% block content %}
  <h1>User List</h1>
  <ul>
    {% for user in user_list %}
      <li>
        <strong>{{ user.username }}</strong> - Total Aged Score: {{ user.total_aged_score|floatformat:1 }}
        <ul>
          {% for pageview in user.pageviews.all|dictsort:"-aged_score" %}
            <li>
              <a href="{{ pageview.wpid.link }}">{{ pageview.wpid.name }}</a> - Aged Score: {{ pageview.aged_score|floatformat:1 }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
